---
layout: page
---

<!DOCTYPE html>
<html lang="en" class="h-100">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{{ site.title }}</title>
    <meta name="description" content="{{ site.description }}">

    <link rel="stylesheet" href="{{site.baseurl}}/css/styles.css">
    <link rel="canonical" href="http://example.com/">
    <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="http://example.com/feed.xml">
</head>

<body class="h-100 my-0 mx-auto d-flex flex-column">

	{% include header.html %}

    <section class="" style="flex: 1;">
        {% if page.title %}
          <div class="d-flex justify-content-center">
            <h3 class="page-title mt-5 my-lg-4">
                {{page.title}}
            </h3> 
          </div>
        {% endif %}
        {{ content }}

    </section>

	{% include footer.html %}
</body>
</html>