<header class="header">
  <section class="container p-0">
    <div class="row">
      <div class="col d-flex justify-content-center align-items-center">
        <img class="m-2" style="height: 100%; max-height: 6em;" src="{{site.baseurl}}/images/logo-edited.png" alt="site logo" />
        <h1 class="title m-0">Gunin Agarwal</h1>
      </div>
    </div>
    <div class="row">
      <ul class="nav my-4 py-4 col list-unstyled d-flex flex-wrap flex-xs-column flex-md-row flex-row align-items-center justify-content-around text-center">
        <li class="p-lg-4 my-1 col-xs-12 col-md"><a href="/">Home</a></li>
        <li class="p-lg-4 my-1 col-xs-12 col-md"><a href="{{site.baseurl}}/about/">About Me</a></li>
        <li class="p-lg-4 my-1 col-xs-12 col-md"><a href="{{site.baseurl}}/jiggy/">The Jiggy</a></li>
        <li class="p-lg-4 my-1 col-xs-12 col-md"><a href="{{site.baseurl}}/funk/">The Funk</a></li>
        <li class="p-lg-4 my-1 col-xs-12 col-md"><a href="{{site.baseurl}}/sitemap/">Sitemap</a></li>
        <li class="p-lg-4 my-1 col-xs-12 col-md"><a href="http://cis3630.org/student-webpages.php?semester=fall2017&section=7:30%20p.m." target="_blank">Student Pages</a></li>
      </ul>
    </div>
  </section>
</header>